extends layout

block prepend head
    link(rel="stylesheet", href="/stylesheets/build/about.css")
    
block content
    div#aboutWrapper
        div#portfolioPictureWrapper
            img(id="portfolioPicture")
        h1 About me
    !=biography

block append scripts
    script(src='/javascripts/about.js')