extends layout

block content
  body
    div.nav
        ul#navOptions
            li(onclick="window.location.href='/'") home
            li(onclick="window.location.href='/about'") about me
            li(onclick="window.location.href='/recent'") recent
    div#aboutWrapper
        h1 About me
        h2 I take forever to give developers 'about me' content, so they have to write it for me.