extends layout

block content
  body
    div#welcomeWrapper
        div#header
            span#title Trevor Dillon
            span#subHeader Artist
        div.nav
            ul#navOptions
                li(onclick="window.location.href='/portfolio'") portfolio
                li(onclick="window.location.href='/about'") about me
                li(onclick="window.location.href='/recent'") recent
            
    
    
    
    
    
    
    
    
    
    
    