extends layout

block content
    div#welcomeWrapper
        div#header
            span#title Trevor Dillon
            span#subHeader Artist
        div.nav
            ul#navOptions
            
    
    
    
    
    
    
    
    
    
    
    