extends layout

block content
  body
    div#welcomeWrapper
        span#header.header Trevor Dillon
        span#subHeader.header Artist
        div.nav.nav-htx
            div.htx-wrapper
                span
            ul#navOptions
                li(onclick="window.location.href='/portfolio'") portfolio
                li(onclick="window.location.href='/about'") about me
                li(onclick="window.location.href='/recent'") recent
            
    
    
    
    
    
    
    
    
    
    
    