extends layout

block append head
    link(rel="stylesheet", href="/stylesheets/build/home.css")

block content
    div#header
        span#title Trevor Dillon Tattoos
            
    
    
    
    
    
    
    
    
    
    
    