extends layout

block append head
    link(rel="stylesheet", href="/stylesheets/build/homeNav.css")

block content
    div#welcomeWrapper
        div#header
            span#title Trevor Dillon Tattoos
            
    
    
    
    
    
    
    
    
    
    
    