doctype html
html
  block head
    title Trevor Dillon
    link(rel='stylesheet', href='/stylesheets/style.css')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    
  body
    div.nav
        ul#navOptions
            li(onclick="window.location.href='/'") home
            li(onclick="window.location.href='/portfolio'") portfolio
            li(onclick="window.location.href='/about'") about me
            li(onclick="window.location.href='/recent'") recent
    block content
    
block scripts
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js')
    script(src='/javascripts/index.js')