extends layout

block prepend head
    link(rel="stylesheet" href="/stylesheets/images.css")
    link(rel="stylesheet" href="/stylesheets/portfolio.css")

block content
    div#description
        p#enlarge Click image to enlarge
    section#photos
        each image, i in images
            div(onclick="enlargePicture(this)")#advancedImageContainer
                img(src="images/portfolio/#{image}")
    div#loadWrapper
        button(onclick="loadMore()")#loadButton load more
    div#waitWrapper
        p Loading
                    
block append scripts
    script(src='/javascripts/enlargeImage.js')    
    script(src='/javascripts/portfolio.js')
    script.
        setImageDimensions()