extends layout

block content
    div#portfolioWrapper
        section#photos
            each image, i in images
                div#advancedImageContainer
                    img(src="images/portfolio/#{image}")