extends layout

block content
    div#portfolioWrapper
        div#description
            p#enlarge Click image to enlarge
        section#photos
            each image, i in images
                div(onclick="enlargePicture(this)")#advancedImageContainer
                    img(src="images/portfolio/#{image}")
                    
block append scripts
    script(src='/javascripts/enlargeImage.js')    
    script.
        setImageDimensions()