extends layout

block content
    div#recentWrapper
        div#description
            p Hover for clarity
            p Click image to enlarge
        section#photos
        script(src='/javascripts/enlargeImage.js')
        script(src='/javascripts/recent.js')