extends layout

block content
    div#recentWrapper
        div#description
            p Hover for clarity
            p#enlarge Click image to enlarge
        section#photos
block append scripts
    script(src='/javascripts/enlargeImage.js')
    script(src='/javascripts/recent.js')