extends layout

block prepend head
    link(rel="stylesheet" href="/stylesheets/images.css")
    link(rel="stylesheet" href="/stylesheets/recent.css")

block content
    div#description
        p Hover for description
        p#enlarge Click image to enlarge
    section#photos
block append scripts
    script(src='/javascripts/enlargeImage.js')
    script(src='/javascripts/recent.js')