link(rel="stylesheet" href="/stylesheets/edit.css")

a#back(href="/", type="button") back

div#uploadForm
    form(action="/upload", method="post", enctype="multipart/form-data")
        input(type="file", name="displayImage",  multiple="multiple", accept="image/*")
        button(type="submit") submit

section#photos.sortable
    each image, i in images
        div#editImageContainer
            img(src="images/portfolio/#{image}", id="#{image}").editImage
            form#removeImage(name="removeimage",method="post",action="/removeimage")
                input#removeImage(type="text", placeholder="image", name="imageId", value="#{image}", style="display: none")
                button#btnSubmit(type="submit") remove


script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js')
script(src='https://code.jquery.com/ui/1.11.4/jquery-ui.min.js')
script(src='/javascripts/jquery-sortable-photos.js')
script(src='/javascripts/sloths.js')