extend layout

block append head
    link(rel="stylesheet" href="/stylesheets/build/edit.css")
    link(rel="stylesheet" href="//code.jquery.com/ui/jquery-ui-git.css")
    
block content
    div#slothWrapper
        div#uploadForm
            form(action="/upload", method="post", enctype="multipart/form-data")
                input(type="file", name="displayImage",  multiple="multiple", accept="image/*")
                button(type="submit") submit
        br
        br
        ul#photos.sortable
            each image, i in images
                li#editImageContainer
                    img(src="images/portfolio/#{image}", id="#{image}").editImage
                    button#btnSubmit(onclick="removeImage(this, #{image});") remove

block append scripts
    script(src='//code.jquery.com/ui/jquery-ui-git.js')
    script(src='/javascripts/sloths.js')