html,
body {
	background: #3c3c3c;
	margin: 0;
	padding: 0;
}
#slothWrapper {
	width: 80vw;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
#editImageContainer {
	position: relative;
	display: inline-block;
	vertical-align: top;
	width: auto;
}
#editImageContainerPlaceholder {
	width: 200px;
	height: 200px;
	border: dotted 2px white;
	position: relative;
	display: inline-block;
	vertical-align: top;
}
#success {
	color: green;
	opacity: 0;
}
#error {
	color: red;
	opacity: 0;
}
#bioSubmit {
	background: #B3F090;
	border: none;
	border-radius: 5px;
	height: 40px;
	width: 150px;
}
#editImageContainer button {
	position: absolute;
	bottom: 5px;
	left: 5px;
	background: black;
	height: 30px;
	color: white;
	border: none;
	border-radius: 10px;
	transition: all .3s ease;
}
#editImageContainer img {
	width: 200px;
}
#editImageContainer button:hover {
	background: white;
	color: black;
}
#editImageContainer button:focus {
	outline: 0;
}
#uploadForm {
	width: 400px;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	margin-top: 50px;
}
#uploadForm input[type='file'] {
	color: white;
}
#uploadForm button {
	background: #B3F090;
	border: none;
	border-radius: 5px;
	width: 75px;
	height: 25px;
}
#back {
	position: relative;
	appearance: button;
	text-decoration: none;
	height: 30px;
	width: 40px;
	background: black;
	color: white;
	text-align: center;
	line-height: 30px;
	border-radius: 10px;
	left: 10px;
	top: 10px;
	transition: all .2s ease;
}
#back:hover {
	background: white;
	color: black;
}
#photos {
	text-align: center;
}
#removeImage {
	position: absolute;
	margin: 0px !important;
}
#loginForm {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	color: white;
}
#loginForm button {
	width: 200px;
	color: black;
	background: #dff0d8;
	border: none;
	border-radius: 20px;
	height: 50px;
	margin-top: 20px;
	transition: all .5s ease;
}
#loginForm button:hover {
	background: #B3F090;
}
#loginForm input {
	margin: 10px;
	height: 25px;
	border-radius: 5px;
	border: none;
	padding: 5px;
}
#loginForm input:focus {
	outline: 0;
}
