html,
body {
    background: gray;
    margin: 0;
    padding: 0;
}
#editImageContainer {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin: 10px;
    display: inline-block;
    vertical-align: top;
    width: auto;
}
#editImageContainer button {
    position: absolute;
    bottom: 5px;
    left: 5px;
    background: black;
    height: 30px;
    color: white;
    border: none;
    border-radius: 10px;
    transition: all .3s ease;
}
#editImageContainer img {
    width: 200px;
}
#editImageContainer button:hover {
    background: white;
    color: black;
}
#editImageContainer button:focus {
    outline: 0;
}
#uploadForm {
    background: gray;
    width: 400px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
#back {
    position: relative;
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    text-decoration: none;
    height: 30px;
    width: 40px;
    background: black;
    color: white;
    text-align: center;
    line-height: 30px;
    border-radius: 10px;
    left: 10px;
    top: 10px;
    transition: all .2s ease;
}
#back:hover {
    background: white;
    color: black;
}
#photos {
    text-align: center;
}
#removeImage {
    position: absolute;
    margin: 0px !important;
}
.ui-sortable-placeholder {
    border: 3px dashed #aaa;
    height: 45px;
    width: 344px;
    background: #ccc;
}
