/*Global Start*/

html,
body {
    margin: 0px;
    padding: 0px;
    background: #272727;
    font-family: 'Roboto', sans-serif;
}

/*Global End*/


/*nav bar test start*/

.nav {
    height: auto;
    width: auto;
    position: relative;
    top: 0px;
    margin-left: auto;
    margin-right: auto;
    z-index: 1000;
    font-size: 20px;
}
#navOptions {
    color: white;
    list-style-type: none;
    text-align: center;
    padding: 0px;
}
#navOptions li {
    line-height: 100%;
    display: inline-block;
    margin-left: 20px;
    margin-right: 20px;
    cursor: pointer;
    transition: all .3s ease;
    height: 20px;
    padding: 20px;
    border-radius: 10px;
}
#navOptions li:hover {
    color: rgb(103, 0, 13);
    background: white;
}

/*nav bar test end*/


/* Welcome Page Start*/

#welcomeWrapper {
    height: 100vh;
    width: 100vw;
    background: linear-gradient( rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url(/images/background-min1366.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    position: absolute;
    top: 0;
}
#welcomeWrapper #header {
    text-align: center;
    font-size: 48px;
    margin: 0px;
    padding: 0px;
    line-height: 0px;
    position: relative;
    top: 45vh;
    color: wheat;
}
#welcomeWrapper #header #subHeader {
    font-size: 24px;
}

/*Welcome Page End */


/*Portfolio Page Start*/

#advancedImageContainer {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Chrome/Safari/Opera */
    -khtml-user-select: none;
    /* Konqueror */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* IE/Edge */
    user-select: none;
    position: relative;
    display: inline-block;
    margin: 20px;
    text-align: center;
}
#advancedImageContainer img {
    /*
    The width here ensures only 2 images will be shown per row
    The max-width should ensure that when the image is enlarged, it won't push the neighbor down a line
    */
    width: calc(100vw/3);
    max-width: calc(100vw/2.3);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    transition: all .4s ease !important;
}
#photos {
    text-align: center;
}
#portfolioWrapper #description {
    color: white;
    text-align: center;
}

/*Portfolio Page End*/


/*Recent Page Start*/

#recentWrapper .detail {
    position: absolute;
    /*Calculating for padding*/
    height: calc(100%-20px);
    width: calc(100% - 20px);
    background: rgba(0, 0, 0, .5);
    color: white;
    opacity: 1;
    padding: 10px;
    transition: all .5s ease;
}
#recentWrapper .detail:hover {
    opacity: 0;
}
#recentWrapper #description {
    color: white;
    text-align: center;
}

/*Recent Page End*/


/*About Page Start*/

#aboutWrapper h1 {
    text-align: center;
    color: white;
}
#aboutWrapper h2 {
    text-align: center;
    color: white;
}

/*About Page End*/


/*Media Queries Start*/

@media (max-width: 2000px) {
    #welcomeWrapper {
        background: linear-gradient( rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url('../images/background-min1980.jpg');
    }
}
@media (max-width: 1200px) {}
@media (max-width: 1000px) {
    margin: 10px;
}
@media (max-width: 600px) {
    #navOptions li {
        display: block;
        margin-left: 10px;
        margin-right: 10px;
        padding: 5px;
    }
    #advancedImageContainer img {
        width: 300px;
        max-width: 90vw;
    }
}
@media (max-width: 400px) {
    #welcomeWrapper #header #title {
        font-size: 36px;
    }
    #welcomeWrapper #header #subHeader {
        font-size: 16px;
    }
}

/*Media Queries End*/
